
.contenedorErrores {
    height: 100vh;
    background-position: center;
    background-size: cover;

    background-image: url(https://cdn2.excelsior.com.mx/media/pictures/2022/07/16/2789497.jpg);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    background-repeat: no-repeat;
    position: relative;
    z-index: 1;


}

.contenedorErrores::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top, #17447D, #004d7adb, #17447D);
    z-index: -1;
}
.divVolver{
    display: flex;
    justify-content: center;
} 


#botonError{
    border-radius:10px;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color:#17447D;
    color: #fff;
    border: none;
}
#botonError:hover{
    border-radius:10px;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color:#123865;
    border: none;

}

.mensajeError {
    margin-left: 15px;
    font-size: 30px;
    position: relative;
    color: #55ba48;
    
}


