@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

*::selection {
    background-color: #55ba48;
    color: #17447D;
}
