<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    >
    <link rel="stylesheet" href="../static/cargar_noticia.css">
    <head th:replace= "/fragments/head :: head" </head>

    <body>
        <div>
            <nav th:replace= "/fragments/nav :: nav" </nav>
        </div>
        <div class="container-flex-usuario">
            <div class="formulario-usuario">
                <div th:if="${error != null}" id="mensajeError"  class="card text-white bg-danger mb-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card-title">ERROR</h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
                <h2 class="titulo-seccion">REGISTRARSE</h2>
                <form class="form"
                      th:action="@{/registro}"
                      method="POST"
                      enctype="multipart/form-data"
                      >
                    <div class="subtitulo">
                        <label class="subtitulo-label">Nombre</label>
                        <input
                            type="text"
                            class="subtitulo-input"
                            name="nombre"
                            placeholder="Ingrese su nombre"
                            th:value="${nombre}"
                            />
                    </div>
                    <div class="subtitulo">
                        <label for="disciplina" class="su-label-label">Disciplina</label>
                        <select name="disciplina" class="subtitulo-input">
                            <option value="Carrera">Carrera</option>
                            <option value="Lanzamiento">Lanzamiento</option>
                            <option value="Salto">Salto</option>
                        </select>
                    </div>
                    <div class="subtitulo">
                        <label class="subtitulo-label">Mail</label>
                        <input
                            type="email"
                            class="subtitulo-input"
                            name="email"
                            placeholder="Ingrese su mail"
                            th:value="${email}"
                            />
                    </div>
                    <div class="subtitulo">
                        <label class="subtitulo-label">Ingrese su contraseña</label>
                        <input
                            type="password"
                            class="subtitulo-input"
                            name="password"
                            placeholder="Ingrese su contraseña"
                            th:value="${password}"
                            />
                    </div>
                    <div class="subtitulo">
                        <label class="subtitulo-label">Repita su contraseña</label>
                        <input
                            type="password"
                            class="subtitulo-input"
                            name="password2"
                            placeholder="Ingrese nuevamente su contraseña"
                            />
                    </div>

                    <div class="subtitulo" id="archivo-user">
                        <label class="subtitulo-label">Ingrese su foto de perfil</label>
                        <input type="file" class="input-archivo-usuario" name="imagen" th:if="${imagen}"/>
                    </div>

                    <div class="btn-div">
                        <button type="submit" class="btn" id="boton">
                            REGISTRARME
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <footer th:replace= "/fragments/footer :: footer" </footer>
    </body>
</html>